:root {
  --text-color: white;
  --secondary-text-color: black;
  --font-family: 'roboto', sans-serif;

  --fallback-bg-color: rgb(18, 18, 18);

  --btn-border: 1px solid rgba(110, 110, 110, 0.4);
  --btn-bg-color: rgba(0, 0, 0, 0.2);

  --card-border: 1px solid rgba(110, 110, 110, 0.4);
  --card-bg-color: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-style: normal;
  font-weight: normal;

  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Roboto';
}

body {
  background-image: url('/assets/images/arc.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--fallback-bg-color);
}
main,
header {
  align-items: center;
  text-align: center;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  font-family: var(--font-family);
}

li {
  padding-left: 10px;
  text-align: left;
}

.btn {
  cursor: pointer;
  border: var(--btn-border);
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  padding: 12px 24px;
  color: white;
}

.task-list {
  margin: 0 auto;
  padding: 0;
  width: 20%;
}

.task-card {
  margin: 10px;
  border: var(--card-border);
  border-radius: 10px;
  background-color: var(--card-bg-color);
}

.btn-trash {
  cursor: pointer;
  border: 0px;
  background: none;
}

.btn-trash img {
  width: 25px;
  height: auto;
}

.task-card:has(.btn-trash:hover) {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

dialog {
  border: var(--card-border);
  border-radius: 10px;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

dialog button {
  margin-top: 10px;
}

dialog input,
dialog textarea {
  margin-top: 10px;
  border: var(--card-border);
  border-radius: 5px;
  background-color: var(--card-bg-color);
  color: var(--text-color);
}
